@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
  }

html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
}

/* Scroll-custom ============= */

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3662dd; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(2, 0, 36); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#51e9b6; 
  }


/* Header ============= */

.container {
    color: white;
    
}

img {
    width: 150px;
    height: 75px;
    
}

header {
    padding: 2rem 10rem 10rem;
    background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(19, 40, 103, 0.990) 52%, rgba(0, 213, 255, 0) 100%), 
    url('../img/note-header.png'); 
    background-position: left;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 1300px;

    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem; 
    padding: 1rem 2.4rem;
    letter-spacing: 0.3rem;
}

header nav ul li a:hover {
    border: 1px solid #51e9b6;
    border-radius: 35px;
    transition: all 250ms linear 0s;
}

header nav ul li a:active {
    border: 1px solid #51e9b6;
    border-radius: 35px;
}

.texto-banner {
    text-transform: uppercase;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    padding: 20rem 0 10rem;

    width: 90%;
    max-width: 1300px;

    margin: auto;
}

.button {
    padding: 1.4rem 2.5rem ;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background: #51e9b6;
    color: #132867;
}

.button:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid #51e9b6;
    color: white;
    
}

/* Main ============= */

.main1 {
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(19, 40, 103) 52%, rgba(19, 40, 103) 100%);
    width: 100%;
    height: 190rem;

    margin: auto;

}

.main2 {
    background: #f1f1f1;
    width: 100%;
    height: 190rem;
       
}

#projects {
    display: flex;
    width: 90%;
    max-width: 1920px;

    margin: auto;
}

.card {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 150rem;
    height: 70rem;
    background: #3662dd;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 65rem;
    padding: 10rem 20rem 10rem 10rem;
}

.card img{
    width: auto;
    height: auto;
}

.card h1{
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.card p{
    text-transform: uppercase;
    line-height: 4rem;
    letter-spacing: 0.2rem;
}

.card button {
    margin-top: 5rem;
}

.development {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1300px;

    margin: auto;
}

.devMobile {
    padding: 5rem;
    margin-top: 20rem;
    width: 50rem;
    height: 65rem;
    background: #1b3683;
    border-radius: 30px;
    
}

.imgCard {
    margin-bottom: 10rem;
    width: 15rem;
    height: 15rem;
    background:#51e9b6;
    border-radius: 5px;
}

.devMobile h1 {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.devMobile p {
    color: white;
    font-size: 1.6rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.services h1 {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 30rem;
    margin-right: 30rem;
    margin: 30rem 30rem 5rem 0;
    padding-left: 2rem;
}

.services ul li {
    color: white;
    text-decoration: none;
    list-style: none;
    padding-bottom: 5rem;
}

.services ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 2.0rem;
    padding: 2rem;
    text-transform: uppercase;
}

.aActive {
    background-color: #3662dd;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px;
    color: #51e9b6 !important;
}

.services ul li a:hover {
    background-color: #1b3683;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px;
    color: #51e9b6;
    transition: all 250ms linear 0s;
}

#card-section {
    display: flex;
    justify-content: center;
}

.card-soluction{
    color: white;
    margin-top: -15rem;
    width: 130rem;
    height: 70rem;
    background: #3662dd;
    border-radius: 30px;
    padding: 2rem;
    display: block;
    align-items: center;
    

}

.card-soluction h1{
    font-size: 4.5rem;
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.imgEquipe{
   display: flex;
   justify-content: center;
}

.card-soluction img{
    margin-top: 5rem;
    width: 800px;
    height: auto;
}

/* Contato ============= */


#contact{
    display: flex;
    justify-content: space-between;
    padding-top: 20rem;
    padding-bottom: 20rem;

    width: 90%;
    max-width: 1300px;

    margin: auto;
}

#contact h1 {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #132965;
}

#contact p {
    margin-top: 5rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    color: #132965;
}

.circles {
    margin-top: 5rem;
    display: flex;
}

.circle-purple {

    width: 50px;
    height: 50px;
    background: #3662dd;
    border-radius: 50px;
    
}

.circle-blue {

    width: 50px;
    height: 50px;
    background: #0ac7db;
    border-radius: 50px;
    margin-left: 2rem;
}

.circle-green {

    width: 50px;
    height: 50px;
    background: #50eab8;
    border-radius: 50px;
    margin-left: 2rem;
}

/* Form ============= */

#form form {
    margin-right: 15rem;
    width: 90%;
    max-width: 980px;
  }
    
  #form form label {
    display: none;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
  }
  
  .form-group label.right-inline {
    text-align: right;  
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
  }
  
  .form-group .input-control {
    flex:11;
    display: block;
    margin: -2px 8px 10px;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-right: 10rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    border-radius: 15px;
    border: 1px solid grey;
    background: white;
  }

  .form-group .textarea {
    flex:11;
    display: block;
    margin: -2px 8px 10px;
    padding-top: 1rem;
    padding-right: 20rem;
    padding-left: 1rem;
    padding-bottom: 10rem;
    font-size: 1.6rem;
    border-radius: 15px;
    border: 1px solid grey;
    background: white;
  }
  
  .button-submit {
    margin: 20px 8px 10px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    text-align: center;
    background-color: #3662dd;
    color: white;
    border:none;
    border-radius: 17px;
    text-transform: uppercase;
}

.button-submit:hover {
    cursor: pointer;
    background: #4974ec; 
}

/* Footer ============= */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

footer img{
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    margin-left: 4.5rem;
}

footer p{
    letter-spacing: 0.3rem;
    text-align: center;
    color: rgb(44, 44, 44);
}